<% name = "#{prefix}_#{key.to_s.downcase}" -%>
<p>
  <%= label_tag do %>
    <%= key %>
    <%= check_box_tag("settings[#{name}]", "1", settings.present? && settings[name] == "1") %>
  <% end -%>
</p>
