<% name = "#{prefix}_#{key.to_s.downcase}" -%>
<p>
  <%= label_tag do %>
    <%= key %>
    <%= check_box("settings", name, { :checked => settings.present? && settings[name] == "1" }) %>
  <% end -%>
</p>
